/* header */
#home2 .container-fluid {
    padding: 2% 15% 2%;
}

#home3 .container-fluid {
    padding: 0.5% 15% 0.5%;
}

#web-blog .container-fluid {
    padding: 0.5% 15% 0.5%;
}

#up-content,
#down-content {
    background-color: darkgoldenrod;
    height: 50px;
}
