/* header */
#home2 .container-fluid {
    padding: 2% 15% 2%;
}
#home3 .container-fluid {
    padding: 0.5% 15% 0.5%;
}

/* section */
#todos .container-fluid {
    padding: 4% 15% 4%;
    text-align: center;
}
.checked {
    text-decoration: line-through;
}
#up-content,
#down-content {
    background-color: darkgoldenrod;
    height: 100px;
}

/* list */
ul {
    list-style-type: none;
}
li {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.delete-button {
    margin-left: 100px;
}